*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./Assets/bg-mobile-dark.jpg) no-repeat top center/cover;
}

body *{
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
}

.container{
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;

    justify-content: center;
    gap: 3rem;
    padding-top: 50px;

    height: 100vh;
}

.container h1{
    display: flex;
    position:absolute;
    top: 10%;

    left: 45%;
    /*border: 1px solid red;*/
}

/* Caixa do contador*/
.timer{
    /*border: 1px solid red;*/
    display: flex;
    font-size: 55px;

    font-weight: bold;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px;
    color: #ffff;
    min-width: 90px;
}

#milliseconds{
    font-size: 30px;
    font-weight: lighter;
}

.separator{
    padding: 0 10px;
    font-weight: lighter;
}

/*Botões*/
.buttons{
    /*border: 1px solid red;*/
    display: flex;
    gap: 1rem;
}

.btn{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;

    border-radius: 30px;
    cursor: pointer;
    border: 5px solid #d72638;

    background-color: #272047;
    color: #ffff;
    transition: all 0.2 ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}
